{% extends 'base.html.twig' %}

{% block title %}Oupssssss !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Ouh la la !</h1>

    L'étudiant dont vous souhaitez afficher les informations n'existe pas (plus ?) !

</div>
{% endblock %}
