{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Liste des étudiants</h1>

    <ul>
    {% for student in students %}
        <li class="{{ cycle(['white-background','lt-gray-white-background'], loop.index0) }}">{{ student.name|e }}</li>
    {% endfor %}
    </ul>

    <p>Le dernier étudiant ajouté est {{ lastStudent }}.</p>

</div>
{% endblock %}
